*
{
  margin: 0px;
  padding: 0px;
}

/* BODY STYLING */

body 
{
  min-height: 100vh;
}

/* HEADER STYLING */

header
{
  width: 100%;
  display: flex;
}

header h1
{
  margin-left: 20px;
  margin-right: 20px;
}

header section
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#index section:nth-of-type(2)
{  
  width: calc(100vw - 400px);
}

#index section:nth-of-type(1),
#index section:nth-of-type(3)
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
}

#index section button
{
  border-radius: 12px;
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  background-color: #333;
  color: white;
}

header img
{
  height: 100px;
}

/* MAIN STYLING */

#apiSection
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(20vh - 100px);
}

#fetchButton
{
  margin-top: 20px;
  border-radius: 12px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  background-color: #333;
  color: white;
}

#event-Container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventCard
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 12px;
  background-color: #333;
  color: white;
  margin-top: 20px;
  width: 150px;
  min-height: 30px;
}

.ratingCard
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pointer
{
  cursor: pointer;
}

/* SMILEY STYLING */

main h2
{
  margin-top: calc(50vh - 18vh - 180px);
  text-align: center;
  font-size: 40px;
}

#smileySection
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 30px;
  
}

#smileySection img 
{
  width: calc(99vw / 5);
}

/* FOOTER STYLING */

footer 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #333;
  height: calc(25px * 5 + 15px);
}

footer h3 
{
  font-size: 15px;
}

footer h3:nth-of-type(1),
footer h3:nth-of-type(2),
footer h3:nth-of-type(3),
footer h3:nth-of-type(4)
{
  margin-bottom: 10px;
}

footer h3:nth-of-type(1)
{
  color: green;
}

footer h3:nth-of-type(2)
{
  color: lime;
}

footer h3:nth-of-type(3)
{
  color: yellow;
}

footer h3:nth-of-type(4)
{
  color: orange;
}

footer h3:nth-of-type(5)
{
  color: red;
}